table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-condensed th, .table-condensed td {
    padding: 3px 4px;
}

.date{
  padding-left: 30px;
}
