
.icn-abacus:before { content: '\e800'; } /* '' */
.icn-alarm:before { content: '\e801'; } /* '' */
.icn-albums:before { content: '\e802'; } /* '' */
.icn-apartament:before { content: '\e803'; } /* '' */
.icn-apps:before { content: '\e804'; } /* '' */
.icn-arrow-circle-down:before { content: '\e805'; } /* '' */
.icn-arrow-circle-left:before { content: '\e806'; } /* '' */
.icn-arrow-circle-right:before { content: '\e807'; } /* '' */
.icn-arrow-circle-up:before { content: '\e808'; } /* '' */
.icn-arrow-o-down:before { content: '\e809'; } /* '' */
.icn-arrow-o-left:before { content: '\e80a'; } /* '' */
.icn-arrow-o-right:before { content: '\e80b'; } /* '' */
.icn-arrow-o-up:before { content: '\e80c'; } /* '' */
.icn-birthday:before { content: '\e80d'; } /* '' */
.icn-block-page:before { content: '\e80e'; } /* '' */
.icn-box-o:before { content: '\e80f'; } /* '' */
.icn-box:before { content: '\e810'; } /* '' */
.icn-boxs:before { content: '\e811'; } /* '' */
.icn-btn-off:before { content: '\e812'; } /* '' */
.icn-btn-on:before { content: '\e813'; } /* '' */
.icn-bubble:before { content: '\e814'; } /* '' */
.icn-calendar-clock:before { content: '\e815'; } /* '' */
.icn-calendar-day:before { content: '\e816'; } /* '' */
.icn-calendar-ok:before { content: '\e817'; } /* '' */
.icn-calendar:before { content: '\e818'; } /* '' */
.icn-cart-go:before { content: '\e819'; } /* '' */
.icn-cart:before { content: '\e81a'; } /* '' */
.icn-cash-registrer:before { content: '\e81b'; } /* '' */
.icn-catalog:before { content: '\e81c'; } /* '' */
.icn-category-o:before { content: '\e81d'; } /* '' */
.icn-category-v:before { content: '\e81e'; } /* '' */
.icn-category:before { content: '\e81f'; } /* '' */
.icn-cc:before { content: '\e820'; } /* '' */
.icn-checked:before { content: '\e821'; } /* '' */
.icn-checkmark-circle:before { content: '\e822'; } /* '' */
.icn-chevron-donw:before { content: '\e823'; } /* '' */
.icn-chevron-left:before { content: '\e824'; } /* '' */
.icn-chevron-right:before { content: '\e825'; } /* '' */
.icn-chevron-up:before { content: '\e826'; } /* '' */
.icn-clients:before { content: '\e827'; } /* '' */
.icn-clock:before { content: '\e828'; } /* '' */
.icn-close:before { content: '\e829'; } /* '' */
.icn-code:before { content: '\e82a'; } /* '' */
.icn-columnist:before { content: '\e82b'; } /* '' */
.icn-comment:before { content: '\e82c'; } /* '' */
.icn-conector:before { content: '\e82d'; } /* '' */
.icn-conf:before { content: '\e82e'; } /* '' */
.icn-contact:before { content: '\e82f'; } /* '' */
.icn-content-block:before { content: '\e830'; } /* '' */
.icn-content:before { content: '\e831'; } /* '' */
.icn-cover:before { content: '\e832'; } /* '' */
.icn-credential-o:before { content: '\e833'; } /* '' */
.icn-credential:before { content: '\e834'; } /* '' */
.icn-crm:before { content: '\e835'; } /* '' */
.icn-crop:before { content: '\e836'; } /* '' */
.icn-danger:before { content: '\e837'; } /* '' */
.icn-deposit:before { content: '\e838'; } /* '' */
.icn-diagram-fluid:before { content: '\e839'; } /* '' */
.icn-diagram-operation:before { content: '\e83a'; } /* '' */
.icn-discharge:before { content: '\e83b'; } /* '' */
.icn-division:before { content: '\e83c'; } /* '' */
.icn-donwload:before { content: '\e83d'; } /* '' */
.icn-excel:before { content: '\e83f'; } /* '' */
.icn-expand:before { content: '\e840'; } /* '' */
.icn-eye-close:before { content: '\e841'; } /* '' */
.icn-eye-open:before { content: '\e842'; } /* '' */
.icn-family:before { content: '\e843'; } /* '' */
.icn-finance:before { content: '\e844'; } /* '' */
.icn-folder-up:before { content: '\e845'; } /* '' */
.icn-folder:before { content: '\e846'; } /* '' */
.icn-group:before { content: '\e847'; } /* '' */
.icn-home:before { content: '\e848'; } /* '' */
.icn-industry:before { content: '\e849'; } /* '' */
.icn-intranet:before { content: '\e84a'; } /* '' */
.icn-inventary:before { content: '\e84b'; } /* '' */
.icn-kardex:before { content: '\e84c'; } /* '' */
.icn-key:before { content: '\e84d'; } /* '' */
.icn-level-page:before { content: '\e84e'; } /* '' */
.icn-like-o:before { content: '\e84f'; } /* '' */
.icn-like:before { content: '\e850'; } /* '' */
.icn-link:before { content: '\e851'; } /* '' */
.icn-list:before { content: '\e852'; } /* '' */
.icn-logistics:before { content: '\e854'; } /* '' */
.icn-marca:before { content: '\e855'; } /* '' */
.icn-media-plus:before { content: '\e856'; } /* '' */
.icn-media-reload:before { content: '\e857'; } /* '' */
.icn-media:before { content: '\e858'; } /* '' */
.icn-megaphone:before { content: '\e859'; } /* '' */
.icn-move:before { content: '\e85a'; } /* '' */
.icn-movil:before { content: '\e85b'; } /* '' */
.icn-music-note:before { content: '\e85c'; } /* '' */
.icn-newspaper:before { content: '\e85d'; } /* '' */
.icn-off:before { content: '\e85e'; } /* '' */
.icn-order-ok:before { content: '\e85f'; } /* '' */
.icn-order:before { content: '\e860'; } /* '' */
.icn-page:before { content: '\e861'; } /* '' */
.icn-paid-credit:before { content: '\e862'; } /* '' */
.icn-pdf:before { content: '\e863'; } /* '' */
.icn-pencil:before { content: '\e864'; } /* '' */
.icn-phone:before { content: '\e865'; } /* '' */
.icn-photo:before { content: '\e866'; } /* '' */
.icn-picture:before { content: '\e867'; } /* '' */
.icn-play-circle:before { content: '\e868'; } /* '' */
.icn-plus:before { content: '\e869'; } /* '' */
.icn-point-1:before { content: '\e86a'; } /* '' */
.icn-point-2:before { content: '\e86b'; } /* '' */
.icn-point-3:before { content: '\e86c'; } /* '' */
.icn-point-4:before { content: '\e86d'; } /* '' */
.icn-point-map:before { content: '\e86e'; } /* '' */
.icn-point-menu:before { content: '\e86f'; } /* '' */
.icn-post:before { content: '\e870'; } /* '' */
.icn-powerpoint:before { content: '\e871'; } /* '' */
.icn-project-plan:before { content: '\e872'; } /* '' */
.icn-proyect:before { content: '\e873'; } /* '' */
.icn-rocket:before { content: '\e875'; } /* '' */
.icn-rrhh:before { content: '\e876'; } /* '' */
.icn-save:before { content: '\e877'; } /* '' */
.icn-search:before { content: '\e878'; } /* '' */
.icn-settings:before { content: '\e879'; } /* '' */
.icn-shop:before { content: '\e87a'; } /* '' */
.icn-shortcut:before { content: '\e87b'; } /* '' */
.icn-skip:before { content: '\e87c'; } /* '' */
.icn-slide:before { content: '\e87d'; } /* '' */
.icn-sort-asc:before { content: '\e87e'; } /* '' */
.icn-sort-desc:before { content: '\e87f'; } /* '' */
.icn-sort:before { content: '\e880'; } /* '' */
.icn-suitcase:before { content: '\e881'; } /* '' */
.icn-sync:before { content: '\e882'; } /* '' */
.icn-system:before { content: '\e883'; } /* '' */
.icn-tabs-mobile:before { content: '\e884'; } /* '' */
.icn-tabs:before { content: '\e885'; } /* '' */
.icn-trash:before { content: '\e886'; } /* '' */
.icn-truck-register:before { content: '\e887'; } /* '' */
.icn-unchecked:before { content: '\e888'; } /* '' */
.icn-upload:before { content: '\e889'; } /* '' */
.icn-user-plus:before { content: '\e88a'; } /* '' */
.icn-user:before { content: '\e88b'; } /* '' */
.icn-users:before { content: '\e88c'; } /* '' */
.icn-video-plus:before { content: '\e88d'; } /* '' */
.icn-video-reload:before { content: '\e88e'; } /* '' */
.icn-video:before { content: '\e88f'; } /* '' */
.icn-warning:before { content: '\e890'; } /* '' */
.icn-word:before { content: '\e891'; } /* '' */
.icn-zone:before { content: '\e892'; } /* '' */
.icn-lock:before { content: '\e894'; } /* '' */
.icn-email:before { content: '\e895'; } /* '' */
.icn-reorder:before { content: '\e896'; } /* '' */
.icn-zoom:before { content: '\e897'; } /* '' */