@font-face {
  font-family: 'icon-font';
  src:  url('../fonts/icon-fonticon-font.eot?s8674n');
  src:  url('../fonts/icon-fonticon-font.eot?s8674n#iefix') format('embedded-opentype'),
    url('../fonts/icon-fonticon-font.ttf?s8674n') format('truetype'),
    url('../fonts/icon-fonticon-font.woff?s8674n') format('woff'),
    url('../fonts/icon-fonticon-font.svg?s8674n#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icn-"], [class*=" icn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icn-abacus .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icn-abacus .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-abacus .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-abacus .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-abacus .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-abacus .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(9, 9, 9);
}
.icn-alarm:before {
  content: "\e906";
}
.icn-albums:before {
  content: "\e907";
}
.icn-apartament:before {
  content: "\e908";
}
.icn-apps:before {
  content: "\e909";
}
.icn-arrow-circle-down .path1:before {
  content: "\e90a";
  color: rgb(21, 21, 21);
}
.icn-arrow-circle-down .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-arrow-circle-left .path1:before {
  content: "\e90c";
  color: rgb(21, 21, 21);
}
.icn-arrow-circle-left .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-arrow-circle-right .path1:before {
  content: "\e90e";
  color: rgb(21, 21, 21);
}
.icn-arrow-circle-right .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-arrow-circle-up .path1:before {
  content: "\e910";
  color: rgb(21, 21, 21);
}
.icn-arrow-circle-up .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-arrow-o-down:before {
  content: "\e912";
}
.icn-arrow-o-left:before {
  content: "\e913";
}
.icn-arrow-o-right:before {
  content: "\e914";
}
.icn-arrow-o-up:before {
  content: "\e915";
}
.icn-birthday:before {
  content: "\e916";
}
.icn-block-page .path1:before {
  content: "\e917";
  color: rgb(9, 9, 9);
}
.icn-block-page .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-block-page .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-block-page .path4:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-box-o:before {
  content: "\e91b";
}
.icn-box:before {
  content: "\e91c";
}
.icn-boxs:before {
  content: "\e91d";
}
.icn-btn-off:before {
  content: "\e91e";
}
.icn-btn-on:before {
  content: "\e91f";
}
.icn-bubble:before {
  content: "\e920";
}
.icn-calendar-clock:before {
  content: "\e921";
}
.icn-calendar-day .path1:before {
  content: "\e922";
  color: rgb(0, 0, 0);
}
.icn-calendar-day .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-calendar-day .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-calendar-day .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-calendar-day .path5:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-calendar-day .path6:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(7, 7, 7);
}
.icn-calendar-day .path7:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(19, 19, 19);
}
.icn-calendar-ok:before {
  content: "\e929";
}
.icn-calendar:before {
  content: "\e92a";
}
.icn-cart-go .path1:before {
  content: "\e92b";
  color: rgb(0, 0, 0);
}
.icn-cart-go .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-cart-go .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icn-cart-go .path4:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-cart:before {
  content: "\e92f";
}
.icn-cash-registrer:before {
  content: "\e930";
}
.icn-catalog:before {
  content: "\e931";
}
.icn-category-o .path1:before {
  content: "\e932";
  color: rgb(0, 0, 0);
}
.icn-category-o .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-category-o .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-category-o .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-category-o .path5:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-category-o .path6:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-category-o .path7:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(17, 17, 17);
}
.icn-category-o .path8:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(5, 5, 5);
}
.icn-category-v:before {
  content: "\e93a";
}
.icn-category:before {
  content: "\e93b";
}
.icn-cc:before {
  content: "\e93c";
}
.icn-checked:before {
  content: "\e93d";
}
.icn-checkmark-circle:before {
  content: "\e93e";
}
.icn-chevron-donw:before {
  content: "\e93f";
}
.icn-chevron-left:before {
  content: "\e940";
}
.icn-chevron-right:before {
  content: "\e941";
}
.icn-chevron-up:before {
  content: "\e942";
}
.icn-clients:before {
  content: "\e943";
}
.icn-clock .path1:before {
  content: "\e944";
  color: rgb(21, 21, 21);
}
.icn-clock .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(6, 6, 6);
}
.icn-close:before {
  content: "\e946";
}
.icn-code:before {
  content: "\e947";
}
.icn-columnist .path1:before {
  content: "\e948";
  color: rgb(2, 2, 2);
}
.icn-columnist .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-columnist .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-columnist .path4:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-columnist .path5:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-columnist .path6:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-columnist .path7:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-comment:before {
  content: "\e94f";
}
.icn-conector:before {
  content: "\e950";
}
.icn-conf:before {
  content: "\e951";
}
.icn-contact:before {
  content: "\e952";
}
.icn-content-block .path1:before {
  content: "\e953";
  color: rgb(1, 2, 2);
}
.icn-content-block .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-content-block .path3:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-content-block .path4:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-content-block .path5:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-content-block .path6:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-content:before {
  content: "\e959";
}
.icn-cover .path1:before {
  content: "\e95a";
  color: rgb(14, 14, 14);
}
.icn-cover .path2:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(14, 14, 14);
}
.icn-cover .path3:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-cover .path4:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-credential-o:before {
  content: "\e95e";
}
.icn-credential-old:before {
  content: "\e95f";
}
.icn-credential:before {
  content: "\e960";
}
.icn-crm:before {
  content: "\e961";
}
.icn-crop:before {
  content: "\e962";
}
.icn-danger:before {
  content: "\e963";
}
.icn-deposit:before {
  content: "\e964";
}
.icn-diagram-fluid:before {
  content: "\e965";
}
.icn-diagram-operation:before {
  content: "\e966";
}
.icn-discharge:before {
  content: "\e967";
}
.icn-division .path1:before {
  content: "\e968";
  color: rgb(0, 0, 0);
}
.icn-division .path2:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-division .path3:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-division .path4:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-division .path5:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(17, 17, 17);
}
.icn-division .path6:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(5, 5, 5);
}
.icn-donwload:before {
  content: "\e96e";
}
.icn-excel:before {
  content: "\e970";
}
.icn-expand:before {
  content: "\e971";
}
.icn-eye-close:before {
  content: "\e972";
}
.icn-eye-open:before {
  content: "\e973";
}
.icn-family:before {
  content: "\e974";
}
.icn-finance:before {
  content: "\e975";
}
.icn-folder-up:before {
  content: "\e976";
}
.icn-folder:before {
  content: "\e977";
}
.icn-group:before {
  content: "\e978";
}
.icn-home:before {
  content: "\e979";
}
.icn-industry:before {
  content: "\e97a";
}
.icn-intranet .path1:before {
  content: "\e97b";
  color: rgb(2, 2, 2);
}
.icn-intranet .path2:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(14, 14, 14);
}
.icn-intranet .path3:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.icn-intranet .path4:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(14, 14, 14);
}
.icn-intranet .path5:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.icn-intranet .path6:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(14, 14, 14);
}
.icn-intranet .path7:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-inventary:before {
  content: "\e982";
}
.icn-kardex:before {
  content: "\e983";
}
.icn-key:before {
  content: "\e984";
}
.icn-level-page:before {
  content: "\e985";
}
.icn-like-o .path1:before {
  content: "\e986";
  color: rgb(0, 0, 0);
}
.icn-like-o .path2:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(18, 18, 18);
}
.icn-like .path1:before {
  content: "\e988";
  color: rgb(0, 0, 0);
}
.icn-like .path2:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(7, 7, 7);
}
.icn-link:before {
  content: "\e98a";
}
.icn-list:before {
  content: "\e98b";
}
.icn-lock:before {
  content: "\e98c";
}
.icn-logistics:before {
  content: "\e98d";
}
.icn-marca .path1:before {
  content: "\e98e";
  color: rgb(0, 0, 0);
}
.icn-marca .path2:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(15, 15, 15);
}
.icn-media-plus:before {
  content: "\e990";
}
.icn-media-reload:before {
  content: "\e991";
}
.icn-media:before {
  content: "\e992";
}
.icn-megaphone:before {
  content: "\e993";
}
.icn-move:before {
  content: "\e994";
}
.icn-movil:before {
  content: "\e995";
}
.icn-music-note:before {
  content: "\e996";
}
.icn-newspaper:before {
  content: "\e997";
}
.icn-off:before {
  content: "\e998";
}
.icn-order-ok:before {
  content: "\e999";
}
.icn-order:before {
  content: "\e99a";
}
.icn-page:before {
  content: "\e99b";
}
.icn-paid-credit:before {
  content: "\e99c";
}
.icn-pdf:before {
  content: "\e99d";
}
.icn-pencil:before {
  content: "\e99e";
}
.icn-phone:before {
  content: "\e99f";
}
.icn-photo:before {
  content: "\e9a0";
}
.icn-picture:before {
  content: "\e9a1";
}
.icn-play-circle .path1:before {
  content: "\e9a2";
  color: rgb(21, 21, 21);
}
.icn-play-circle .path2:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-plus:before {
  content: "\e9a4";
}
.icn-point-1:before {
  content: "\e9a5";
}
.icn-point-2:before {
  content: "\e9a6";
}
.icn-point-3:before {
  content: "\e9a7";
}
.icn-point-4:before {
  content: "\e9a8";
}
.icn-point-map:before {
  content: "\e9a9";
}
.icn-point-menu:before {
  content: "\e9aa";
}
.icn-post:before {
  content: "\e9ab";
}
.icn-powerpoint:before {
  content: "\e9ac";
}
.icn-project-plan:before {
  content: "\e9ad";
}
.icn-proyect:before {
  content: "\e9ae";
}
.icn-reorder:before {
  content: "\e9af";
}
.icn-rocket:before {
  content: "\e9b0";
}
.icn-rrhh:before {
  content: "\e9b1";
}
.icn-save:before {
  content: "\e9b2";
}
.icn-search:before {
  content: "\e9b3";
}
.icn-settings .path1:before {
  content: "\e9b4";
  color: rgb(0, 0, 0);
}
.icn-settings .path2:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-settings .path3:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-settings .path4:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-settings .path5:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-settings .path6:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-settings .path7:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(4, 4, 4);
}
.icn-settings .path8:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(4, 4, 4);
}
.icn-settings .path9:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(4, 4, 4);
}
.icn-shop:before {
  content: "\e9bd";
}
.icn-shortcut:before {
  content: "\e9be";
}
.icn-skip:before {
  content: "\e9bf";
}
.icn-slide:before {
  content: "\e9c0";
}
.icn-sort-asc:before {
  content: "\e9c1";
}
.icn-sort-desc:before {
  content: "\e9c2";
}
.icn-sort:before {
  content: "\e9c3";
}
.icn-suitcase .path1:before {
  content: "\e9c4";
  color: rgb(0, 0, 0);
}
.icn-suitcase .path2:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(3, 3, 3);
}
.icn-suitcase .path3:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icn-sync:before {
  content: "\e9c7";
}
.icn-system:before {
  content: "\e9c8";
}
.icn-tabs-mobile:before {
  content: "\e9c9";
}
.icn-tabs:before {
  content: "\e9ca";
}
.icn-trash:before {
  content: "\e9cb";
}
.icn-truck-register:before {
  content: "\e9cc";
}
.icn-unchecked:before {
  content: "\e9cd";
}
.icn-upload:before {
  content: "\e9ce";
}
.icn-user-plus:before {
  content: "\e9cf";
}
.icn-user:before {
  content: "\e9d0";
}
.icn-users:before {
  content: "\e9d1";
}
.icn-video-plus:before {
  content: "\e9d2";
}
.icn-video-reload:before {
  content: "\e9d3";
}
.icn-video:before {
  content: "\e9d4";
}
.icn-warning:before {
  content: "\e9d5";
}
.icn-word:before {
  content: "\e9d6";
}
.icn-zone:before {
  content: "\e9d7";
}
.icn-zoom:before {
  content: "\e9d8";
}
