.color-white {
  color: #FFFFFF;
}
.color-white-a {
  color: #FEFEFE;
}
.color-white-b {
  color: #FAFAFA;
}
.color-white-c {
  color: #F9F9F9;
}
.color-white-d {
  color: #F6F7F9;
}
.color-gray {
  color: #E6E7E9;
}
.color-gray-a {
  color: #D7D9DE;
}
.color-gray-b {
  color: #B4BBC5;
}
.color-gray-c {
  color: #879099;
}
.color-gray-d {
  color: #5d6569;
}
.color-gray-e {
  color: #3F444B;
}
.color-black {
  color: #191B1C;
}
.color-red {
  color: #EB5C43;
}
.color-red-a {
  color: #E83759;
}
.color-lilac {
  color: #E71882;
}
.color-lilac-a {
  color: #F4A9CB;
}
.color-violet {
  color: #8B3B8F;
}
.color-violet-a {
  color: #DDABCE;
}
.color-violet-b {
  color: #806AAD;
}
.color-violet-c {
  color: #C2B4D9;
}
.color-blue {
  color: #386DB4;
}
.color-blue-a {
  color: #9DBAE2;
}
.color-blue-b {
  color: #2D9EE0;
}
.color-blue-c {
  color: #0076FF;
}
.color-light-blue {
  color: #33AADD;
}
.color-light-blue-a {
  color: #94D4F0;
}
.color-light-blue-b {
  color: #00BDC6;
}
.color-light-blue-b {
  color: #A4D9DD;
}
.color-green {
  color: #24AA5B;
}
.color-green-a {
  color: #CBE6B2;
}
.color-green-b {
  color: #99C14C;
}
.color-green-c {
  color: #DCDC07;
}
.color-green-d {
  color: #FBF29D;
}
.color-green-e {
  color: #0D803C;
}
.color-yellow {
  color: #FFCF08;
}
.color-yellow-a {
  color: #FFEBAB;
}
.color-yellow-b {
  color: #FFDC51;
}
.color-orange {
  color: #FCBE14;
}
.color-orange-a {
  color: #F39333;
}
.color-orange-b {
  color: #FAC078;
}
.color-brown {
  color: #C2975C;
}
.color-brown-a {
  color: #E0CBAE;
}
.color-brown-b {
  color: #8A7354;
}
.color-navbar {
  color: #495570;
}
@font-face {
  font-family: 'lato-bold';
  src: url('../font/Lato-Bold.woff2') format('woff2'), url('../font/Lato-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'lato-light';
  src: url('../font/Lato-Light.woff2') format('woff2'), url('../font/Lato-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'lato-regular';
  src: url('../font/Lato-Regular.woff2') format('woff2'), url('../font/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
.navbar {
  background-color: #495570;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
}
.navbar .navbar-left .navbar-sites {
  color: #B4BBC5;
}
.navbar .navbar-sites .icn-salto {
  font-size: 1.75em;
  color: #B4BBC5;
}
.navbar .nav {
  list-style: none;
}
.navbar .nav li > a {
  background-color: transparent !important;
}
.navbar .nav li > a i {
  font-size: 1.4em;
}
i {
  line-height: 1em;
}
.navbar .nav li > a .user-img {
  border: 1px solid #D7D9DE;
  border-radius: 50%;
  overflow: hidden;
}
.navbar .nav li > a .user-name {
  color: #B4BBC5;
  font-family: 'lato-regular', arial, sans-serif !important;
  font-weight: 500;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}
.navbar .nav .dropdown-toggle .btn-donw {
  font-size: 12px;
  color: #B4BBC5;
}
.navbar .nav li > a:hover .user-name {
  color: #FFFFFF;
}
.navbar .nav .btn-message i {
  color: #2D9EE0;
}
.navbar .nav .btn-alarm i {
  color: #EB5C43;
}
.navbar .nav .btn-search i {
  color: #B4BBC5;
}
.navbar .nav .btn-menu i {
  color: #B4BBC5;
}
.navbar .profile.on .user-name {
  color: #FFFFFF;
}
.navbar .profile .img-user {
  border-radius: 30px;
  border: 1px solid #D7D9DE;
}
.navbar .profile .user,
.navbar .profile .rol {
  border-bottom: 1px solid #D7D9DE;
}
.navbar .profile a {
  text-decoration: none;
}
.navbar .profile .name-user {
  text-align: left;
  color: #5d6569;
  font-size: 17px;
}
.navbar .profile .name-user a {
  font-size: 12px;
  color: #B4BBC5;
}
.navbar .profile .name-user a:hover {
  color: #2D9EE0;
}
.navbar .profile strong {
  font-size: 11px;
  font-family: 'lato-regular', arial, sans-serif !important;
  text-align: left;
}
.navbar .profile span {
  font-size: 15px;
}
.navbar .profile .e-rol {
  margin-top: 7px;
  display: inline-block;
  float: left;
}
.navbar .collapse-menu .btn-perfil {
  border: 1px solid #D7D9DE;
}
.navbar .nav-menu .dropdown-menu {
  transition: all ease 0.5s !important;
}
.navbar .nav-menu .dropdown-menu .title-menu {
  color: #B4BBC5;
  text-transform: uppercase;
  font-size: 11px;
  text-align: left;
}
.navbar .nav-menu .dropdown-menu .dropdown {
  text-align: left;
}
.navbar .nav-menu .dropdown-menu .dropdown a {
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
}
.navbar .nav-menu .dropdown-menu .dropdown > a:hover {
  background-color: #FAFAFA;
}
.navbar .nav-menu .dropdown-menu .dropdown > a:hover span {
  color: #191B1C !important;
}
.navbar .nav-menu .dropdown-menu .dropdown i {
  font-size: 16px;
  line-height: 1.4em;
}
.navbar .nav-menu .home > a i,
.navbar .nav-menu .home > a:hover i {
  color: #2D9EE0 !important;
}
.navbar .nav-menu .dropdown-menu .active {
  background-color: #F9F9F9;
}
.navbar .nav-menu .dropdown-menu .active span {
  font-family: 'lato-bold', arial, sans-serif !important;
  color: #191B1C;
}
.navbar .nav-menu .dropdown-menu .dropdown .btn-right {
  font-size: 18px;
  color: #B4BBC5;
}
.navbar .nav-menu .box-nav-modulos {
  background-color: #FFFFFF;
  border-radius: 5px;
  z-index: 99;
  padding: 15px;
  border-left: 1px solid #D7D9DE;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  transition: all ease 0.5s !important;
}
.navbar .nav-menu .leftIn {
  transition: all ease 0.5s;
}
.navbar .nav-menu .box-nav-modulos .title {
  background-color: #F9F9F9;
  text-align: left;
  font-size: 17px;
}
.navbar .nav-menu .box-nav-modulos .btn-nav-back:hover {
  color: #2D9EE0;
}
.navbar .nav-menu .box-nav-modulos a:hover {
  background-color: #FEFEFE !important;
}
.navbar .nav-menu .box-nav-modulos .btn-close {
  font-size: 14px;
  color: #B4BBC5;
  cursor: pointer;
}
.navbar .nav-menu .box-nav-modulos .btn-close:hover {
  color: #EB5C43;
}
.navbar .nav-menu .dropdown-menu .active-left .btn-right {
  color: #191B1C;
}
.block-sistemas > ul {
  background-color: #EDEFF3;
  border-bottom: 1px solid #E6E7E9;
  border-top: 1px solid #E6E7E9;
}
.block-sistemas .title-menu {
  color: #879099 !important;
  font-size: 12px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 10px !important;
}
.block-sistemas > ul > .dropdown > a i {
  font-size: 21px !important;
  border-radius: 4px;
  border: 2px solid transparent;
  color: #FFFFFF !important;
}
.block-sistemas > ul > .dropdown > a:hover {
  background-color: transparent !important;
}
.block-sistemas > ul > .dropdown > a:hover i {
  border: 2px solid rgba(0, 0, 0, 0.15);
}
.block-sistemas > ul > .dropdown > a span {
  line-height: 16px;
  font-weight: 400;
  text-align: center !important;
  /* color: rgba(0,0,0,0.55); */
  word-wrap: break-word;
  font-size: 13px !important;
}
.block-sistemas .title-sis {
  background: white;
}
@media screen and (max-width: 470px) {
  .navbar .nav-menu .dropdown-menu .dropdown a span {
    font-size: 16px;
  }
  .navbar .collapse-menu .btn-perfil span {
    font-size: 12px;
  }
  .navbar .profile .perfil span {
    font-size: 12px;
    color: #B4BBC5;
  }
}
