.color-white {
  color: #FFFFFF;
}
.color-white-a {
  color: #FEFEFE;
}
.color-white-b {
  color: #FAFAFA;
}
.color-white-c {
  color: #F9F9F9;
}
.color-white-d {
  color: #F6F7F9;
}
.color-gray {
  color: #E6E7E9;
}
.color-gray-a {
  color: #D7D9DE;
}
.color-gray-b {
  color: #B4BBC5;
}
.color-gray-c {
  color: #879099;
}
.color-gray-d {
  color: #5d6569;
}
.color-gray-e {
  color: #3F444B;
}
.color-black {
  color: #191B1C;
}
.color-red {
  color: #EB5C43;
}
.color-red-a {
  color: #E83759;
}
.color-lilac {
  color: #E71882;
}
.color-lilac-a {
  color: #F4A9CB;
}
.color-violet {
  color: #8B3B8F;
}
.color-violet-a {
  color: #DDABCE;
}
.color-violet-b {
  color: #806AAD;
}
.color-violet-c {
  color: #C2B4D9;
}
.color-blue {
  color: #386DB4;
}
.color-blue-a {
  color: #9DBAE2;
}
.color-blue-b {
  color: #2D9EE0;
}
.color-blue-c {
  color: #0076FF;
}
.color-light-blue {
  color: #33AADD;
}
.color-light-blue-a {
  color: #94D4F0;
}
.color-light-blue-b {
  color: #00BDC6;
}
.color-light-blue-b {
  color: #A4D9DD;
}
.color-green {
  color: #24AA5B;
}
.color-green-a {
  color: #CBE6B2;
}
.color-green-b {
  color: #99C14C;
}
.color-green-c {
  color: #DCDC07;
}
.color-green-d {
  color: #FBF29D;
}
.color-green-e {
  color: #0D803C;
}
.color-yellow {
  color: #FFCF08;
}
.color-yellow-a {
  color: #FFEBAB;
}
.color-yellow-b {
  color: #FFDC51;
}
.color-orange {
  color: #FCBE14;
}
.color-orange-a {
  color: #F39333;
}
.color-orange-b {
  color: #FAC078;
}
.color-brown {
  color: #C2975C;
}
.color-brown-a {
  color: #E0CBAE;
}
.color-brown-b {
  color: #8A7354;
}
.color-navbar {
  color: #495570;
}
@font-face {
  font-family: 'lato-bold';
  src: url('../font/Lato-Bold.woff2') format('woff2'), url('../font/Lato-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'lato-light';
  src: url('../font/Lato-Light.woff2') format('woff2'), url('../font/Lato-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'lato-regular';
  src: url('../font/Lato-Regular.woff2') format('woff2'), url('../font/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
.navbar {
  width: 100%;
  height: 47px;
  display: block;
}
.navbar-top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.navbar .navbar-inner {
  width: 100%;
  height: 47px;
}
.navbar-left {
  display: inline-block;
  float: left;
  height: 47px;
  padding-left: 10px;
}
.navbar-right {
  display: inline-block;
  float: right;
  height: 47px;
  padding-right: 10px;
}
.navbar .navbar-left .navbar-brand {
  max-width: 50px;
  height: 47px;
  display: inline-table;
  float: left;
}
.navbar .navbar-left .navbar-brand a {
  padding: 5px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.navbar .navbar-left .navbar-brand img {
  max-height: 32px;
  display: inline-block;
  vertical-align: top;
}
.navbar .navbar-left .navbar-sites {
  float: left;
  width: 45px;
  text-align: center;
  padding: 6px 7px 8px 6px;
}
.navbar .nav {
  height: 47px;
  display: inline-table;
  float: right;
}
.navbar .nav > li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.navbar .nav > li ul li {
  float: left;
  list-style: none ;
  width: 100%;
}
.navbar .nav .collapse,
.navbar .nav .collapse-in.on {
  display: none;
}
.navbar .nav .collapse.on,
.navbar .nav .collapse-in {
  display: block;
}
.navbar .nav .collapse-menu a {
  padding: 12px 5px;
}
.navbar .nav > li > a {
  display: inline-block;
  vertical-align: top;
  padding: 10px 5px;
}
.navbar .nav .btn-menu.on i {
  color: #FFFFFF !important;
}
.navbar .nav > li > a .user-img {
  height: 28px;
  width: 28px;
  float: left;
  background-size: cover !important;
}
.navbar .nav > li > a .user-name {
  float: left;
  margin-top: 3px;
  margin-left: 7px;
}
.navbar .nav .dropdown-toggle .btn-donw {
  margin-top: 6.4px;
  margin-left: 2px;
  display: inline-block;
}
.navbar .nav .btn-profile-normal.on .user-name,
.navbar .nav .btn-profile-normal.on .btn-donw {
  color: #FFFFFF !important;
}
.navbar .profile {
  width: 235px;
  left: -120px;
}
.navbar .profile a {
  float: left;
  padding: 10px;
}
.navbar .profile .user {
  padding-bottom: 0px;
}
.navbar .profile .user a {
  width: 80px;
}
.navbar .profile .img-user {
  width: 60px;
  height: 60px;
}
.navbar .profile .name-user {
  margin-top: 25px;
  float: left;
  width: 140px;
}
.navbar .profile .name-user a {
  float: left;
  clear: both;
  margin-top: 3px;
  padding: 0px;
}
.navbar .profile strong {
  float: left;
  display: inline-block;
  width: 25px;
  margin-top: 4px;
}
.navbar .profile span {
  display: inline-block;
  float: left;
  width: 138px;
  margin-top: 2px;
  margin-left: 3px;
}
.navbar .collapse-menu .perfil {
  width: 140px !important;
}
.navbar .collapse-menu .perfil strong {
  margin-top: 0px;
  width: auto;
}
.navbar .collapse-menu .perfil span {
  width: 65%;
  margin-top: -1px;
  margin-left: 5px;
}
.navbar .collapse-menu .btn-perfil {
  padding: 5px 10px !important;
  margin-bottom: 10px !important;
  margin-top: 7px !important;
}
.navbar .nav-menu .dropdown-menu {
  left: auto;
  right: -6px;
  width: 290px !important;
  padding: 0px;
}
.navbar .nav-menu .dropdown-menu .title-menu {
  width: 210px;
  float: left;
  clear: both;
  padding: 10px 0;
}
.navbar .nav-menu .dropdown-menu .dropdown {
  width: 100%;
  display: block;
  position: relative;
  z-index: 0;
  float: left;
  clear: both;
}
.navbar .nav-menu .dropdown-menu .dropdown > a {
  width: 100%;
  display: block;
  padding: 7px 5px;
  z-index: 0;
}
.navbar .nav-menu .dropdown-menu .dropdown > a i {
  margin-top: -1px !important;
  display: inline-block;
}
.navbar .nav-menu .dropdown-menu .dropdown > a > span {
  display: inline-block;
  width: 80%;
  margin-left: 5px;
  margin-top: 1px;
}
.navbar .nav-menu .dropdown-menu .dropdown .btn-right {
  position: absolute;
  right: 5px;
  top: 8px;
}
.navbar .nav-menu .box-nav-modulos {
  position: absolute;
  width: 290px;
  min-height: 300px;
  top: 0px;
  z-index: 19;
  right: -290px !important;
  padding: 0 !important;
}
.navbar .nav-menu .box-nav-modulos.on {
  right: 0px !important;
}
.navbar .nav-menu .box-nav-modulos .title {
  margin-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.navbar .nav-menu .box-nav-modulos .title span {
  margin-left: 5px;
}
.navbar .nav-menu .box-nav-modulos .btn-nav-back {
  cursor: pointer;
  padding: 7px 10px;
  display: inline-block;
  position: relative;
}
.navbar .nav-menu .box-nav-modulos .dropdown {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}
.navbar .nav-menu .box-nav-modulos .btn-sm-sidebar i,
.navbar .nav-menu .box-nav-modulos .btn-sm-sidebar span {
  margin: 0 !important;
}
.config-sitios {
  width: 100%;
  padding: 10px 15px;
  margin: 0;
}
.config-sitios .btn-sm-sidebar ul {
  display: inline-block;
}
.config-sitios .btn-sm-sidebar ul a {
  width: 100%;
}
.block-sistemas .title-menu {
  padding: 4px 10px 4px 10px !important;
  width: 100% !important;
}
.block-sistemas > ul {
  display: block;
  margin-left: 0;
  float: left;
  width: 100% !important;
  margin-left: 0px;
  padding-top: 15px;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
}
.block-sistemas > ul > .dropdown {
  display: inline-block !important;
  width: 27% !important;
  clear: none !important;
  min-height: 80px;
  margin: 8px;
  margin-bottom: 7px;
  position: relative;
}
.block-sistemas > ul > .dropdown > a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center !important;
  padding: 0 !important;
}
.block-sistemas > ul > .dropdown > a i {
  width: 40px;
  height: 40px;
  display: inline-block !important;
  padding-top: 3px;
  float: none !important;
}
.block-sistemas > ul > .dropdown > a span {
  margin-left: -5px !important;
  width: 105% !important;
  margin-top: 8px !important;
}
.block-sistemas > .title-menu {
  padding-top: 0;
  margin-top: 0;
  width: 90% !important;
  padding-left: 15px !important;
}
.btn-skip {
  position: absolute;
  width: 24px !important;
  height: 24px;
  display: inline-block !important;
  top: 0px;
  right: 10px;
  padding: 0 !important;
  z-index: 4 !important;
  border: 0 !important;
}
.btn-skip:hover,
.navbar .nav-menu .box-nav-modulos .btn-skip:hover,
.btn-skip:hover i {
  color: #386DB4 !important;
  border: 0 !important;
}
.btn-skip i {
  font-size: 16px !important;
  padding-top: 7px;
  color: #D7D9DE !important;
}
@media screen and (max-width: 470px) {
  .navbar .profile {
    left: auto;
    right: -10px;
  }
  .navbar .nav-menu .leftIn .box-nav-modulos .dropdown i {
    position: relative;
    right: inherit;
    top: inherit;
  }
}
